img{
  width:120%;
  
}
.imagen{
  margin-top: 20px;
  margin: 20px auto;
  width: 130PX;
  
 

}
.mi-componente {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../assets/2799478.jpg");
  background-size: cover;
 
}

.mi-componente > .contenido {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* Estilos para el contenido del componente */
}

.pregunta{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.palabra{
 display: flex;
 justify-content: center;

}
.palo{
  margin: 9px;
  border-bottom: 2px solid black;
  width: 32px;
  height: 45px;
  text-align: center;
  font-size: 2.5em;

}
.botones{
  display: flex;
  justify-content: center;
  margin-top:30px;
}
.botones button{
  
  
  margin: 10px;
 padding: 5px 5px ;
 font-size: 1.3em;
 background-color:rgb(167, 167, 167);
 border: 1px dashed black;
 border-radius: 4px;
 cursor: pointer;
 width: 35px;
 text-align: center;
 margin-left: 0px;

}
